<% include partials/header %>
<br>
<div class="container">
    <h1>Your Posts</h1>
    <div class="row d-flex justify-content-center" style="display:flex; flex-wrap:wrap;">
        <% treks.forEach(function(trek){%>
            <div class="card" style="width: 15rem; margin:10px;">
                <img class="card-img-top" src="<%=trek.images%>">
                <div class="card-body">
                    <h4 class="card-text text-left">
                        <%=trek.name%>
                    </h4>
                    <p class="card-text text-left">
                        <%=trek.location%>
                    </p>
                    <div class="card-text text-left">
                        <h6>
                            ₹
                            <%=trek.cost%>
                        </h6>
                    </div>
                    <a href="/treks/<%= trek._id %>">
                        <button class="btn bton-theme">More Info</button>
                    </a>
                </div>
            </div>
    
            <%});%>
    </div>
</div>

<% include partials/footer %>