<% include ../partials/header %>
<%if(currentUser && trek.author._id.equals(currentUser._id)){%>
    <div>
        <a href="/treks/<%=trek._id%>/edit">
            <button class="btn btn-outline-primary">Edit</button>
        </a>
        <form action="/treks/<%=trek._id%>?_method=DELETE" method="POST">
            <button class="btn btn-outline-primary">Delete</button>
        </form>
    </div>
<%}%>

<div class="container" style="min-width: 80%;">
 

    <br>
    <div>
        <img class="img-fluid" style="min-width: 100%; height:auto" src="<%= trek.images %>">
    </div>
    <br>
    <div class="row">
        <h3 class="text-left col">
            <%= trek.name %>
        </h3>
        <h5 class="text-right col">
         ₹ <%= trek.cost%>
        </h5>
    </div>
    <div>
        <h6 class="text-left">
            <%= trek.location %>
        </h6>
    </div>
    <div>
        <%= trek.description %>
    </div>
    <hr>
    <h5>Comments</h5>
    <br>
        <% trek.comments.forEach(function(comment){%>
            <div>
                <strong><%=comment.author.name%></strong> - <%=comment.content%>
            </div>
        <%if(currentUser && comment.author.id.equals(currentUser._id)){%>
                <a href="/treks/<%=trek._id%>/comments/<%= comment._id%>/edit">
                    <button class="btn btn-outline-primary">Edit</button>
                </a>
        <%}%>
        <%if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && trek.author.equals(currentUser._id)){%>
                <form action="/treks/<%=trek._id%>/comments/<%= comment._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-outline-primary">Delete</button>
                </form>
        <%}%>
        <%}) %>
    <br>
    <div>Add a comment</div>
    <% if(!currentUser){ %>
        <div>To adde comment you need to <a href="/login">Log In</a>or<a href="/register">Sign Up</a></div>
    <% } else { %>
    <form class="form-group" action="/treks/<%= trek._id%>/comments" method="POST">
        <div class="form-group">

            <input class="form-control"  style="max-width: 500px;"type="text" name="comment[content]"  placeholder="comment">
        </div>
        <button class="btn bton-theme">Submit!</button>
    </form>
    <% } %>
</div>
    <% include ../partials/footer %>