<% include ../partials/header %>
<br>
<div class="container" style="min-width: 80%;">
    <%if(currentUser && trek.author._id.equals(currentUser._id)){%>
            <div class="list-group-item list-group-item-warning">
                <div class="row justify-content-center">
                    <div  style="margin-top:5px;margin-right: 5px;">
                    <h6>It seems you have created this post. Do you want to</h6>
                    </div>
                    <div style="margin:0 5px;">
                    <a  href="/treks/<%=trek._id%>/edit">
                        <button class="btn btn-sm bton-theme">Edit</button>
                    </a>
                    </div>
                    <div style="margin:0 5px;">
                    <form action="/treks/<%=trek._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-sm bton-theme">Delete</button>
                    </form>
                    </div>
                </div>
            </div>
    <%}%>
 
    <br>
    <div class="row">
    <div class="col-md-8 col-sm-12">
        <img class="img-fluid" style="min-width: 100%; height:auto" src="<%= trek.images %>">
    </div>
    <div  class="col-md-4 col-sm-12">
        <div id='map'></div>
        <script>
            mapboxgl.accessToken = 'pk.eyJ1IjoibWF5YW5rcmFtaW5hIiwiYSI6ImNqbDE0aGNzdTFicnUzd2xtdTdsMXp2eDYifQ.4CD85rpzoEw_kOEKH1KcsQ';
            const map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mayankramina/cjl164vhj2i8i2smme0wux9pc',
                center: [<%=trek.lon%>, <%=trek.lat%>],
                zoom: 10.0
            });
            var popup = new mapboxgl.Popup().setText('<%=trek.name%>');
            var marker = new mapboxgl.Marker().setLngLat([<%=trek.lon%>, <%=trek.lat%>]).setPopup(popup).addTo(map);
            
        </script>
    </div>
    </div>
    <br>
    <div class="row">
        <h3 class="text-left col">
            <%= trek.name %>
        </h3>
        <h5 class="text-right col">
         ₹ <%= trek.cost%>
        </h5>
    </div>
    <div>
        <h6 class="text-left">
            <%= trek.location %>
        </h6>
    </div>
    <hr>
    <div class="">
        <div class="form-inline"><h5>Best Time to Visit :</h5><h6> - <%=trek.bestTime%></h6></div>
        <div class="form-inline"><h5>Days required :</h5><h6> - <%=trek.days%></h6></div>
    </div>
    <hr>
    <div>
        <%= trek.description %>
    </div>
    <hr>
    <h5>Comments</h5>
    <% if(trek.comments==""){ %>
        <div>Be the first one to add comment on this post! </div>
    <% } %>
    <% trek.comments.forEach(function(comment){%>
        <div class="border rounded" style="padding:10px;margin:5px;max-width:500px;">
            <div>
                <strong><%=comment.author.name%></strong> - <%=comment.content%>
            </div>
            <div class="form-inline"style="margin-top:5px;">
                <%if(currentUser && comment.author.id.equals(currentUser._id)){%>
                    <div class="form-check"style="margin-right:10px;">   
                        <a href="/treks/<%=trek._id%>/comments/<%= comment._id%>/edit">
                            <button class="btn btn-sm bton-theme">Edit</button>
                        </a>
                    </div>
                <%}%>
                <%if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && trek.author.equals(currentUser._id)){%>
                    <div class="form-check">
                        <form action="/treks/<%=trek._id%>/comments/<%= comment._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-sm bton-theme">Delete</button>
                        </form>
                    </div>
                <%}%>
            </div>
        </div>
    <%}) %>
    <hr>
    <h6>Add a comment</h6>
    <% if(!currentUser){ %>
        <div>To add a comment you need to <a href="/login">Log In</a> or <a href="/register">Sign Up</a></div>
    <% } else { %>
    <form class="form-group" action="/treks/<%= trek._id%>/comments" method="POST">
        <div class="form-group">

            <input class="form-control"  style="max-width: 500px;"type="text" name="comment[content]"  placeholder="comment">
        </div>
        <button class="btn bton-theme">Submit!</button>
    </form>
    <% } %>
</div>
    <% include ../partials/footer %>